<!-- CONTENT -->
<div class="content p-24">

  <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

    <form (ngSubmit)="onSubmit($event)" class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column"
      fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form" fxLayoutGap="15px">

      <app-loading [condition]="loadingPlan || loadingSc || loadingUser"></app-loading>

      <div class="h2 mb-24">Server Information</div>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <!-- subscriptino plan -->
        <mat-form-field appearance="outline" fxFlex="50" class="pr-8">
          <mat-label>Subscription Plan</mat-label>
          <mat-select formControlName="planID">
            <mat-option *ngFor="let subPlan of subPlans" [value]="subPlan.ID">
              {{ subPlan.name }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
          <mat-error>
            <span *ngIf="isInvalid('planID')">{{ controls.planID.errors }}</span>
          </mat-error>
        </mat-form-field>
        <!--./ subscriptino plan -->

        <!-- user -->
        <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
          <mat-label>User</mat-label>
          <mat-select formControlName="userID">
            <mat-option *ngFor="let user of users" [value]="user.ID">
              {{ user.firstName + ' ' + user.lastName }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
          <mat-error>
            <span *ngIf="isInvalid('userID')">{{ controls.userID.errors }}</span>
          </mat-error>
        </mat-form-field>
        <!--./ user -->

      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <!-- payment method -->
        <mat-form-field appearance="outline" fxFlex="50" class="pr-8">
          <mat-label>Payment Method</mat-label>
          <mat-select formControlName="paymentMethod">
            <mat-option *ngFor="let method of paymentMethods; let i=index;" [value]="i + 1">
              {{ method }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
          <mat-error>
            <span *ngIf="isInvalid('paymentMethod')">{{ controls.paymentMethod.errors }}</span>
          </mat-error>
        </mat-form-field>
        <!--./ payment method -->

        <!-- payment status -->
        <mat-form-field appearance="outline" fxFlex="50" class="pl-8">
          <mat-label>Payment Status</mat-label>
          <mat-select formControlName="paymentStatus">
            <mat-option *ngFor="let status of paymentStatuses; let i=index;" [value]="i + 1">
              {{ status }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
          <mat-error>
            <span *ngIf="isInvalid('paymentStatus')">{{ controls.paymentStatus.errors }}</span>
          </mat-error>
        </mat-form-field>
        <!--./ payment status -->

      </div>

      <br /><br />
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button type="submit" color="accent">
          {{isNew ? 'Add Subscription' : 'Update'}}
        </button>
        <button mat-raised-button type="button" color="warn" routerLink="/panel/subscription">
          Cancel
        </button>
      </div>
    </form>

    <!-- / REACTIVE FORM EXAMPLE -->
  </div>
</div>
<!-- / CONTENT -->